$darkDescrText: #939CAA;
$blue: #495567;
$darkBlue: #333A44;
$mainYellow:#FCB72B;
$tranparentBlue: #2F3B59;
$white: #fff;
$lightGrey:  #E5ECF4;
$grey: #939CAA;
$btnFont: 'Space Mono';
$tablet: 1113px;
$mobile:573px;