.container{
    max-width: 1153px;
    padding: 0 20px;
    margin: 0 auto;
}
@media only screen and(max-width: $tablet){
    .container{
        max-width: 603px;
        padding: 0 15px;
        margin: 0 auto;
    }
}
@media only screen and(max-width: $mobile){
    .container{
        max-width: 331px;
        padding: 0 30px;
        margin: 0 auto;
    }
}