.telemetry{
    margin-bottom: 160px;
}

.telemetry-img{
    position: relative;
    box-shadow: 550px 0 #E5ECF4;
    &::after{
        content: '';
        position: absolute;
        width: 735px;
        height: 150px;
        top: 65%;
        right: -150px;
        background-image: url(../assets/icons/array\ left.svg);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 5;
    }
}
@media only screen and(max-width: $tablet){
    .telemetry-img{
        margin-bottom: 56px;
        &::after{
            content: '';
            width: 745px;
            right: -165px;
        }
    }
}
@media only screen and(max-width: $mobile){
   .telemetry-img{
    width: 311px;
    height: 311px;
    box-shadow: none;
    margin-bottom: 56px;
    &::after{
        content: '';
        position: absolute;
        right: -433px;
        top: 50%;
    }
   }
}